extends layouts/layout.pug

block content
    div.text-center.container-fluid(style="min-height: 400px")

        main.col-sm-6.col-md-4.col-12.m-auto.my-5
            form(action=`/auth/resetpassword?resetPasswordToken=${resetPasswordToken}` method="POST")
                h1.h3.mb-5.fw-normal New Password
                .form-floating
                    input#passwod.form-control(type="password" placeholder="Password" name="password" minlength="6" maxlength="20" required)
                    label(for="password") Password
                    br
                button.w-100.btn.btn-lg.btn-primary(type="submit") Send

